@{
    Layout = "_Layout";
}

<div class="text-left">
    <h1 class="display-4">Welcome</h1>
    <h3>My name is Macy and I love to cook.</h3>
    <p>Take a look around at some of my favorite recipes 
        I've made and calculate pricing for my work on the Price Calculator page!
    </p>
</div>
<br>
<div class="row">
    <div class="col-4" >
        <img src="/img/salmon2.JPG" class="card-img-top" alt="Salmon bites">
        <div class="card-body">
            <p class="card-text">Salmon bites from The Palatable Life's Salmon Miso Sesame Couscous Bowls</p>
        </div>
    </div>
    <div class="col-4" >
        <img src="/img/frenchtoastcrumble2.JPG" class="card-img-top" alt="french toast scramble">
        <div class="card-body">
            <p class="card-text">French toast scramble made accidentally due to thin bread</p>
        </div>
    </div>
    <div class="col-4" >
        <img src="/img/stickychicken2.JPG" class="card-img-top" alt="sweet sticky chicken">
        <div class="card-body">
            <p class="card-text">Sweet Sticky Chicken from Mel's Kitchen Cafe</p>
        </div>
    </div>
</div>
<br>
<div>
    <p>Cooking has always been a passion of mine, and it brings me immense joy to experiment
        in the kitchen. There's something magical about transforming raw ingredients into 
        delicious dishes that bring people together. The process of creating a meal from 
        scratch fuels my creativity and gives me a sense of accomplishment.
    </p><p>
        My parents played a significant role in fostering my love for cooking. 
        From a young age, they encouraged me to join them in the kitchen, teaching me 
        the basics and sharing family recipes. I have fond memories of standing on a 
        stool next to my mom, stirring pots and measuring ingredients while she explained 
        the importance of each step. My dad, on the other hand, showed me how to 
        experiment in the kitchen, watching him whip together new recipes from his 
        imagination.
    </p><p> 
        Their patience and guidance instilled in me both confidence and a deep 
        appreciation for good food. They taught me that cooking is not just about 
        following recipes but also about expressing love and care through each dish. 
        Thanks to them, I’ve developed a passion for creating meals that not only 
        taste great but also bring joy to those around me.</p>
</div>