@{
    Layout = "_Layout";
}

<div class="text-left">
    <h1 class="display-4">Welcome</h1>
    <h3>My name is Macy and I love to cook.</h3>
    <p>Take a look around at some of my favorite recipes 
        I've made and calculate pricing for my work on the Price Calculator page!
    </p>
</div>
<br>
<div class="row">
    <div class="col-4" >
        <img src="/img/salmon2.JPG" class="card-img-top" alt="Salmon bites">
        <div class="card-body">
            <p class="card-text">Salmon bites from The Palatable Life's Salmon Miso Sesame Couscous Bowls</p>
        </div>
    </div>
    <div class="col-4" >
        <img src="/img/frenchtoastcrumble2.JPG" class="card-img-top" alt="french toast scramble">
        <div class="card-body">
            <p class="card-text">French toast scramble made accidentally due to thin bread</p>
        </div>
    </div>
    <div class="col-4" >
        <img src="/img/stickychicken2.JPG" class="card-img-top" alt="sweet sticky chicken">
        <div class="card-body">
            <p class="card-text">Sweet Sticky Chicken from Mel's Kitchen Cafe</p>
        </div>
    </div>
</div>
<br>
<div>
    
</div>